@page
@model IndexModel
@{
    ViewData["Title"] = "Reddit - Fly above everything";
    ViewData["Nav-collabse"] = "Home";
    ViewData["Nav-collabse-img-src"] = "images/Home-Icon.png";
}

<div class="text-center">
    @foreach (var post in Model.Posts)
    {
        <h1>@post.Title</h1>   
    }
</div>
